<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114611446099-ahqvcsucrq1673a403kjnrboerbbat72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114611446099-ahqvcsucrq1673a403kjnrboerbbat72</string>
	<key>API_KEY</key>
	<string>AIzaSyCJgxV-P4umiioWSVPQqYc8OEYWuh-2iDE</string>
	<key>GCM_SENDER_ID</key>
	<string>114611446099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sluminal.bischat</string>
	<key>PROJECT_ID</key>
	<string>bischat-a11bf</string>
	<key>STORAGE_BUCKET</key>
	<string>bischat-a11bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114611446099:ios:818869e1ffb7c5499141a6</string>
	<key>DATABASE_URL</key>
	<string>https://bischat-a11bf.firebaseio.com</string>
</dict>
</plist>